Gromero.Seguridad.Windows/Web1.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema xmlns:tns="http://schemas.erickorlando.com/core" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.erickorlando.com/core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eventosEnBD">
    <xs:complexType>
      <xs:attribute name="conexion" type="xs:string" use="required" />
      <xs:attribute name="grabarLog" type="xs:boolean" use="required" />
      <xs:attribute name="nombreAplicacion" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>